dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
backoff==2.2.1
pandas==2.2.3
requests==2.31.0
python-dotenv==1.0.0
sqlparse==0.5.3